html {
    background-color: #ffffff;
    padding: 0px;
}
body {
    width: 90%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 2em;
    padding-top: 0.5em;
    padding-bottom: 0;
    background-color: #ffffff;
    /*text-align: center;*/
}
p {
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    line-height: 1;
    margin: 4pt;
}
a{
    color: #2222DD;
}
a:hover{
    color: #22DDDD;
}
p.value-description {
    text-indent: -16pt;
    margin-left: 20pt;
}
p.question {
    margin: 16pt auto;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 70%;
    min-width: 450pt;
    min-height: 127pt;
    background-color: #eeeeee;
    padding: 16pt;
    border-radius: 35pt;
    font-size: 27pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.15));
}
.title {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt;
    text-align: center;
    line-height: 30pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
    font-weight: bold;
}
#svgHeader {
	display: none;
}
h2 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt;
    line-height: 30pt;
    margin-top: 12pt;
    margin-bottom: 0pt;
}

#question-number {
    font-size: 24pt;
    line-height: 24pt;
    font-weight: normal;
}

li {
    font-size: 16pt;
    text-indent: 16pt;
}
a {
    font-family: inherit;
}

.selection {
    background-color: #4caf50;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}

.num_input {
    background-color: #2196f3;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}

.text_input {
    background-color: #2196f3;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}

img.center {
    display: block;
    margin: 1em auto;
    width: 50%;
    min-width: 500pt;
}
.button, .white_button {
    background-color: #2196f3;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 100pt;
    color: white;
    padding: 8pt;
    width: 40%;
    min-width: 430pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;

    text-shadow: -1px -1px 0 rgba(0, 0, 0, .25), 1px -1px 0 rgba(0, 0, 0, .25), -1px 1px 0 rgba(0, 0, 0, .25), 1px 1px 0 rgba(0, 0, 0, .25);

    filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.15));

    transition: background-color 250ms linear;
}



.white_button {
    color:black;
    background-color: #ffffff;
    text-shadow: none;

    -webkit-transition: background-color 250ms linear, color 250ms linear, text-shadow 250ms linear;
    -ms-transition: background-color 250ms linear, color 250ms linear, text-shadow 250ms linear;
    transition: background-color 250ms linear, color 250ms linear, text-shadow 250ms linear;
}

.white_button:hover {
    color: white;
    background-color: #941A24;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .25), 1px -1px 0 rgba(0, 0, 0, .25), -1px 1px 0 rgba(0, 0, 0, .25), 1px 1px 0 rgba(0, 0, 0, .25);
    -webkit-transition: background-color 250ms linear, color 250ms linear, text-shadow 250ms linear;
    -ms-transition: background-color 250ms linear, color 250ms linear, text-shadow 250ms linear;
    transition: background-color 250ms linear, color 250ms linear, text-shadow 250ms linear;
}

/*.white_button:focus {
    color: white;
    background-color: #941A24;
}*/

.green_button {
    background-color: #4caf50;
}
.small_button, .small_button_off {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 100pt;
    color: white;
    padding: 8pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18pt;
    margin: -2px auto;
    cursor: pointer;

    text-shadow: -1px -1px 0 rgba(0, 0, 0, .25), 1px -1px 0 rgba(0, 0, 0, .25), -1px 1px 0 rgba(0, 0, 0, .25), 1px 1px 0 rgba(0, 0, 0, .25);

    filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.15));
}
.small_button_off {
    background-color: #ffffff;
    color: #888888;
    cursor: not-allowed;
    /*margin: -4px auto;*/

    text-shadow: none;

}
.button:disabled {
    background-color: #ddd;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #888;
    border-radius: 8pt;
    color: #888;
    padding: 8pt;
    width: 40%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: not-allowed;
}

.c_agree_btn {
    background-color: #1b5e20;
}
.c_agree_btn:hover {
    background-color: #144618;
}

.agree_btn {
    background-color: #4caf50;
}
.agree_btn:hover {
    background-color: #39833C;
}

.neutral_btn {
    background-color: #bbbbbb;
}
.neutral_btn:hover {
    background-color: #8C8C8C;
}

.disagree_btn {
    background-color: #f44336;
}
.disagree_btn:hover {
    background-color: #AA281F;
}

.c_disagree_btn {
    background-color: #b71c1c;
}
.c_disagree_btn:hover {
    background-color: #891515;
}

div.text-wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #222222;
    display: inline-block;
}
span.weight-300 {
    font-weight: 300;
}
#banner {
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    margin: 20pt auto 20pt auto;
    max-width: 50%;
	min-width: 500pt;
}

@media screen and (orientation:portrait) {
	body {
		width: auto !important;
		border-width: 0px !important;  
	}
	
	.title {
		display: none;
	}
	
    #svgHeader {
		display: block !important;
    }

	.svgHeader {
		color: #222222;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-weight: bold;
        text-anchor: middle;
        font-size: 6px;
	}
	
	#banner {
		min-width: 0px;
		max-width: 100%;
		border-width: 1px;
	}
	
	.button, .button:disabled, .text_input, .num_input, .selection, .white_button {
		min-width: 0px;
		max-width: 100%;
		width: 90%;
		font-size: 1.5em;
	}
	
	h2 {
		font-size: 1.5em;
		line-height: initial
	}

    #question-number {
        font-size: 1.3em;
        line-height: initial;
        margin-bottom: -6pt;
    }

    p.question {
        min-height: 150px !important;
        min-width: 0px;
		max-width: 100%;
		width: auto;
		font-size: 1.75em;
    }
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 200px;
}